{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-lg-11 offset-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Adicionar lote</div>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}                               
                                {% for field in form %}
                                    <div class="form-group">
                                        <label>{{ field.label_tag }}</label>
                                        {% if field.name == 'rating' %}
                                            <div class="d-flex flex-wrap">
                                                {% for choice in field %}
                                                    <div class="form-check me-3 mb-3">
                                                        {{ choice.tag }}
                                                        <label class="form-check-label">
                                                            {{ choice.choice_label }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% elif field.name == 'batch_maternity' %}
                                            <div class="d-flex flex-wrap">
                                                {% for choice in field %}
                                                    <div class="form-check me-3 mb-3">
                                                        {{ choice.tag }}  <!-- Aqui renderiza o input do Radio -->
                                                        <label class="form-check-label">
                                                            {{ choice.choice_label }}  <!-- Aqui renderiza o rótulo do Radio -->
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ field }}
                                        {% endif %}
                                        {% if field.errors %}
                                            <div class="text-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <br>
                                <button class="btn btn-success" type="submit">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>