{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    {% block body %}
        <h3> Fazenda: {{ farm.farm_name }}  {{ farm.farm_acronym }} -- Estação: {{ season.season_name }} </h3>
        <h4> Total de animais na estação: (Soma de todos os lotes cabeceira) -- Total de prenhas na estação: X (A%)</h4>

        <div class="col-lg-3">
            <button class="btn btn-success">
                <a href="{% url 'farm_detail' farm.id season.id %}">Voltar para tela da fazenda</a>
            </button>
        </div>

        {% if batch_list %}
            <!-- Search bar -->
            <div class="row">
                <div class="col-md-12">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col">
                                <input type="search" name="batch_name" placeholder="Search" class="form-control form-control-borderless">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Batch liting -->
            {% for batch in batch_list %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'batch_detail' batch.id %}">
                            {{ batch.batch_acronym }} |
                            total: {{ batch.batch_size }} - pos: {{ batch.positive_quant }} - neg:{{ batch.negative_quant }}
                        </a>
                    </li>
                </ul>
            {% endfor %}
            
            <!-- Add batch button -->
            <button type="button" class="btn btn-info"><a href="{% url 'add_batch' farm.id season.id %}">Adicionar</a></button>
            
            <!-- Pagination -->
            <nav aria-label="Page navigation example" style="background-color: #e9efec;">
                <ul class="pagination">
                    <li class="page-item">
                        {% if batch_list.has_previous %}
                            <a class="page-link" href="?page={{ batch_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    <li class="page-item"><a class="page-link" href="#">pagina {{ batch_list.number }} de {{ batch_list.paginator.num_pages }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ batch_list.paginator.num_pages }}">Ultima pagina</a></li>
                    <li class="page-item">
                        {% if batch_list.has_next %}
                            <a class="page-link" href="?page={{ batch_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% else %}
            <h4>Sem lotes cadastrados</h4>

            <!-- Add batch button -->
            <button type="button" class="btn btn-info"><a href="{% url 'add_batch' farm.id season.id %}">Adicionar</a></button>
        {% endif %}
    {% endblock %}
</body>
</html>