{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}        
        <h1>{{ batch.batch_name }} -- Fazenda {{ batch.farm.farm_name }} -- {{ batch.season.season_name }}</h1>
        <p>Informações gerais</p>
        <h2>Lote: {{ batch.batch_name }}</h2>
        <h3>Lotes Derivados:</h3>
        <ul>
            {% for derivative in derivatives %}
                <li>{{ derivative.batch_name }} ({{ derivative.batch_size }} animais)</li>
            {% empty %}
                <li>Nenhum lote derivado encontrado.</li>
            {% endfor %}
        </ul>
        <p> Anamais no lote: {{ batch.batch_size }} </p>
        <div class="row">
            <div class="col-lg-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Positivas</th>
                            <th scope="col">Negativas</th>
                            <th scope="col">Duvidas</th>
                            <th scope="col">Retorno</th>
                            {% if batch.recurrence_positive_quant != 0 or batch.recurrence_positive_quant != 0 %}
                                <th scope="col"> Positivas de retorno </th>
                                <th scope="col"> Negativas de retorno </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ batch.positive_quant }}</td>
                            <td>{{ batch.negative_quant }}</td>
                            <td>{{ batch.uncertainty_quant }}</td>
                            <td>{{ batch.recurrence_quant }}</td>
                            {% if batch.recurrence_positive_quant != 0 or batch.recurrence_positive_quant != 0 %}
                                <td> {{ batch.recurrence_positive_quant }} </td>
                                <td> {{ batch.recurrence_negative_quant }} </td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        {% if batch.prior_batch == None %}
            <p>Lote cabeceira</p>
        {% else %}
            <p>Derivação do lote: <a href="{% url 'batch_detail' batch.prior_batch.id %}">{{ batch.prior_batch }}</a>  </p>
        {% endif %}
        <p>Responsável técnico pelo lote: {{batch.vet_name}}</p>
        <div class="button-container">
            <button type="button" class="btn btn-info">
                <a href="{% url 'add_workday' batch.id %}">Resultado DG</a>
            </button>
            {% if batch.recurrence_quant != 0 %}
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'dg_recurrence' batch.id %}">Resultado DG retornos</a>
                </button>
            {% elif batch.uncertainty_quant != 0 %}
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'dg_uncertainty' batch.id %}">Resultado DG duvidas</a>
                </button>
            {% endif %}
            <button type="button" class="btn btn-info">
                <a href="{% url 'edit_batch' batch.id %}">Editar</a>
            </button>
            <button type="button" class="btn btn-info">
                <a href="{% url 'batch_index' batch.farm.id batch.season.id  %}">Voltar para lista de lotes</a>
            </button>
            <button type="button" class="btn btn-danger">
                <a href="{% url 'delete_batch' batch.id batch.season.id batch.farm.id %}">Apagar</a>
            </button>
        </div>


        <div class="row">
            <br>
            <h3>Edição global</h3>
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Atual</th>
                                <th scope="col">Retirar</th>
                                <th scope="col">Adicionar</th>
                                <th scope="col">Projeção</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Prenha</td>
                                <td>{{ batch.positive_quant }}</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td> =Atual + Adicionar - retinar</td>
                            </tr>
                            <tr>
                                <td>Vazia</td>
                                <td>{{ batch.negative_quant }}</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td> =Atual + Adicionar - retinar</td>
                            </tr>
                            <tr>
                                <td>Retorno</td>
                                <td>{{ batch.recurrence_quant }}</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td> =Atual + Adicionar - retinar</td>
                            </tr>
                            <tr>
                                <td>Suspeita</td>
                                <td>{{ batch.uncertainty_quant }}</td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td>
                                    <input type="number" class="form-control" placeholder="0">
                                </td>
                                <td> =Atual + Adicionar - retinar</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{ batch.batch_size }}</td>
                                <td>5</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
            </form>
            </div>
        </div>
    {% endblock %}
</body>
</html>