{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <h2>Resultado DG duvidas</h2>
        <p> {{ batch.batch_name }} </p>
        <p> Animais em duvida: {{ batch.uncertainty_quant }} </p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Reatribuir</button>
        </form>
    {% endblock %}
</body>
</html>