{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Fazenda {{ batch.farm.farm_name }}</div>
                            <div class="card-title">Total de animais no {{ batch.batch_name }}: {{ batch.batch_size }}</div>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label }}
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <button class="btn btn-success" type="submit" name="action" value="continue">Salvar e continuar</button>
                                <button class="btn btn-success" type="submit" name="action" value="finish"> salvar e finalizar </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>