{% extends "farm/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <div class="home-container">
            <img  src="static/img/logocomprida.jpg" alt="Work in progress" width="300" height="auto">            
        </div>
        <div class="row" style="font-size: 25px;">
            <div class="col-lg-3" style="text-align: center;">
                <h1>Formulários</h1>
                <ul  style="list-style-type:none;">
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe9A1Rb1bLnDoq92ry98jBEoXsMZGVn0Ea560HA8UTa0a0Qiw/viewform?usp=header">Abastecimento</a><br>
                    </li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx6Zdd9airiTDRtJu9MAU58xDVP3FjfWgBri0gLGQfFs07dQ/viewform?usp=header">Controle KM Saída</a><br>
                    </li>
                    <li>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyWkLkJ6TpcbbgwK5e_AoQU2AyCv89wez7WXFsvrraIv6x0g/viewform?usp=header">Controle KM chegada</a><br>
                    </li>
                </ul>
            </div>
        </div>
        
    {% endblock %}
</body>
</html>