{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        {% if season %}
            <div>
                <h1>{{ season.season_name }}</h1>
                
                <h2>{{ farm.farm_name }}</h2>
                <h3> Identificador da fazenda: {{ farm.id }}</h3>
                <a href="{% url 'batch_index' farm.id season.id %}">Lotes desta fazenda</a>
            </div>
        {% else %}
            <h1>detalhes da fazenda</h1>
            <img src="{{ farm.farm_brand.url }}">
        {% endif %}
    {% endblock %}
</body>
</html>

