{% extends 'farm/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <h1>Detalhe da {{ season.season_name }}</h1>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-success">
                    <a href="{% url 'farm_index' season.id %}">Fazendas nessa estação</a>
                </button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success">
                    <a href="{% url 'season_index' %}">Voltar para lista de estações</a>
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-2">Andamento da estação</div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <p>Início da estação: {{ season.begin_date }}</p>
                                            <p>Fim da estação: {{ season.end_date }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <p>Duração da estação: {{ season_duration }} Dias</p>
                                            <p>Tempo restante na estação: {{ remaining_days }} Dias</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 mb-" id="percent_remaining_days">
                                            {{ percent_remaining_days }} %
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                style="width: 0%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total de animais na estação
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ total_batch_size }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
            
            <div class="col-lg-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Total de animais na estação (Retorno)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ derivative_batch_size }}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Formação de lotes
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Formação do lote</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batch in batches_types %}
                        <tr>
                            <td>{{ batch.batch_shapping }}</td>
                            <td>{{ batch.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
            <div class="col-lg-3">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Responsável técnico
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Técnico</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vet in vets %}
                        <tr>
                            <td>{{ vet.vet_name__username }}</td>
                            <td>{{ vet.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
            <div class="col-lg-3">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Sexo do lote
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sexo da cria</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batch in batches_maternity_count %}
                        <tr>
                            <td>{{ batch.batch_maternity  }}</td>
                            <td>{{ batch.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Protocolo
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Protocolo utilizado</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for protocol in protocols %}
                        <tr>
                            <td>{{ protocol.protocol__protocol_acronym }}</td>
                            <td>{{ protocol.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Fazendas na Estação
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> Fazenda </th>
                            <th scope="col"> Total de animais </th>
                            <th scope="col"> % </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for farm, data in farm_animals_data.items %}
                            <tr>
                                <td>{{ farm.farm_name }}</td>
                                <td>{{ data.total }}</td>
                                <td>{{ data.percentage }}%</td>
                        {% empty %}
                            <tr>
                                <td colspan="2" class="text-center">Nenhum dado disponível</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                
            </div>
        </div>

        <script>
            var percent_remaining_days = document.getElementById("percent_remaining_days").innerHTML;
            // Extrair apenas o número da string
            percent_remaining_days = percent_remaining_days.replace('%', '').trim().replace(',', '.');
            console.log(percent_remaining_days)
            
            // Acesso correto ao elemento pela ID e ajuste da largura
            document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:"+percent_remaining_days+"%");
        </script>
{% endblock %}
</body>
</html>